# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
**/.cxx
app/build/

# Keystore
*.jks
*.keystore

# Google services
google-services.json

# Temporary & test files
tmp_*/
*.epub
*.b64
*.b64.out
*.sqlite
*.db
tools/
after_*.xml
automation-test-*
